@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-linear-to-br
         from-[#F8FAFC]
         to-[#6366F1]/5;
  /* from-[#E0E7FF]
         via-[#FDF2F8]
         to-[#F0F9FF]; */

  /* background: linear-gradient(135deg, #f0f4f8 0%, #f8fafc 100%); */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
